@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/ProximaNova-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/ProximaNova-Bold.woff2') format('woff2');
}